.label {
    -fx-background-color: linear-gradient(to bottom right, #ee6146, #d73c37);
    -fx-border-color: #dfbc5e;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-font-family: "Verdana";
    -fx-text-fill: derive(yellow, 0.75)
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

.error-label {
    -fx-background-color: linear-gradient(to bottom right, #ee6146, #d73c37);
    -fx-text-fill: red;
    -fx-background-color: #333333;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

#displayPicture.eunuch {
    /* Shadow effect on image. */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}
