.root {
    main-color: #ebd4a8;       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: stretch;
}

.text-field {
    -fx-background-color: #f6daa2;
    -fx-text-fill: #a5730f;
    -fx-font-family: "Verdana";
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #eeb546;
    -fx-font: italic bold 16px "Arial";
    -fx-text-fill: #a5730f;
}

.button:hover {
    -fx-background-color: derive(#eeb546, 0.25);
    -fx-font-size: 16px;
    -fx-text-fill: derive(#a5730f, 0.25);
}

.button:pressed {
    -fx-background-color: #d73c37;
    -fx-font-size: 16px;
    -fx-text-fill: #b51f09;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #d5b26e;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
